<!-- Skeleton -->
<div
  class="product type-product post-839 status-publish first instock product_cat-electronics product_cat-t-shirts product_tag-clothes product_tag-fashion has-post-thumbnail sale featured downloadable shipping-taxable purchasable product-type-simple product-layout-default skeleton-body"
>
  <div class="row">
    <div class="summary-before col-md-5"></div>
    <div class="summary entry-summary col-md-7"></div>
    <div class="tab-content col-lg-12"></div>
  </div>
</div>
<!-- Skeleton -->
