<div class="share-links">
    <a
      href="#"
      target="_blank"
      rel="nofollow"
      title="Porto Extended Camera"
      class="share-facebook"
      >Facebook</a
    >
    <a
      href="#"
      target="_blank"
      rel="nofollow"
      title="Porto Extended Camera"
      class="share-twitter"
      >Twitter</a
    >
    <a
      href="#"
      target="_blank"
      rel="nofollow"
      class="share-linkedin"
      title="Porto Extended Camera"
      >LinkedIn</a
    >
    <a
      href="#"
      target="_blank"
      rel="nofollow"
      title="Porto Extended Camera"
      class="share-googleplus"
      >Google +</a
    >
    <a
      href="#"
      target="_blank"
      rel="nofollow"
      title="Porto Extended Camera"
      class="share-email"
      >Email</a
    >
  </div>