<aside
id="woocommerce_product_categories-2"
class="widget woocommerce widget_product_categories"
>
<h3 class="widget-title">
  Categories<span class="toggle"></span>
</h3>
<ul class="product-categories">
  <li class="cat-item cat-item-75 cat-parent">
    <a
      href="https://www.portotheme.com/wordpress/porto/shop1/product-category/accessories/"
      >Cloth</a
    >
    <span class="count">(5)</span><span class="toggle"></span>
    <ul class="children">
      <li class="cat-item cat-item-108">
        <a
          href="https://www.portotheme.com/wordpress/porto/shop1/product-category/accessories/watches/"
          >Watches</a
        >
        <span class="count">(4)</span>
      </li>
    </ul>
  </li>
  <li class="cat-item cat-item-79 cat-parent">
    <a
      href="https://www.portotheme.com/wordpress/porto/shop1/product-category/electronics/"
      >Com</a
    >
    <span class="count">(7)</span><span class="toggle"></span>
    <ul class="children">
      <li class="cat-item cat-item-109">
        <a
          href="https://www.portotheme.com/wordpress/porto/shop1/product-category/electronics/headphone/"
          >Headphone</a
        >
        <span class="count">(3)</span>
      </li>
    </ul>
  </li>
  <li class="cat-item cat-item-78">
    <a
      href="https://www.portotheme.com/wordpress/porto/shop1/product-category/dress/"
      >Dress</a
    >
    <span class="count">(5)</span>
  </li>
  <li class="cat-item cat-item-80 cat-parent">
    <a
      href="https://www.portotheme.com/wordpress/porto/shop1/product-category/fashion/"
      >Fashion</a
    >
    <span class="count">(3)</span><span class="toggle"></span>
    <ul class="children">
      <li class="cat-item cat-item-106">
        <a
          href="https://www.portotheme.com/wordpress/porto/shop1/product-category/fashion/t-shirts/"
          >T-Shirts</a
        >
        <span class="count">(3)</span>
      </li>
    </ul>
  </li>
  <li class="cat-item cat-item-105">
    <a
      href="https://www.portotheme.com/wordpress/porto/shop1/product-category/trousers/"
      >Trousers</a
    >
    <span class="count">(5)</span>
  </li>
</ul>
</aside>