.count {
    /* float: right; */
  }
  .expand,
  .collapse,
  .parent {
    cursor: pointer;
  }
  
  .block {
    display: block;
  }
  .none-block {
    display: none;
  }
  .span-with-check-box {
    /* border: 1px solid red; */
    display: flex;
  }
  .check {
    border: 1px solid yellow !important;
  }
  
  input.checkbox.smart_input {
    box-sizing: border-box;
    margin: 4px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.6;
    overflow: visible;
    padding: 0px;
  
    width: 18px;
    height: 18px;
    opacity: 1;
    z-index: 99;
    cursor: pointer;
  }