<div class="cart_totals_toggle">
    <div
      id="panel-cart-discount"
      class="d-sm-flex justify-content-between"
    >
      <div class="coupon">
        <input
          type="text"
          name="coupon_code"
          class="input-text"
          id="coupon_code"
          placeholder="Coupon code"
          value=""
        />
        <button
          type="submit"
          class="button wc-action-btn wc-action-sm"
          name="apply_coupon"
          value="Apply coupon"
        >
          Apply coupon
        </button>
      </div>
      <button
        type="submit"
        class="button wc-action-btn wc-action-sm"
        name="update_cart"
        value="Update cart"
        disabled=""
        aria-disabled="true"
      >
        Update cart
      </button>
    </div>
  </div>

  <input
    type="hidden"
    id="woocommerce-cart-nonce"
    name="woocommerce-cart-nonce"
    value="d9111288bc"
  /><input
    type="hidden"
    name="_wp_http_referer"
    value="/wordpress/porto/shop1/cart/"
  />