<aside
  id="yith-woo-ajax-navigation-4"
  class="widget yith-woocommerce-ajax-product-filter yith-woo-ajax-navigation woocommerce widget_layered_nav"
>
  <h3 class="widget-title">Sizes<span class="toggle"></span></h3>
  <ul class="yith-wcan-label yith-wcan yith-wcan-group">
    <li>
      <a
        title="Extra Large"
        href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_size=extra-large"
        >XL</a
      >
    </li>
    <li>
      <a
        title="Large"
        href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_size=large"
        >L</a
      >
    </li>
    <li>
      <a
        title="Medium"
        href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_size=medium"
        >M</a
      >
    </li>
    <li>
      <a
        title="Small"
        href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_size=small"
        >S</a
      >
    </li>
  </ul>
</aside>
