<table class="variations" cellspacing="0">
    <tbody>
      <tr>
        <th class="label">
          <label for="pa_color">Color</label>
        </th>

        <td class="value">
          <ul class="filter-item-list" data-name="attribute_pa_color">
            <li>
              <a
                href="#"
                class="filter-color enabled"
                data-value="black"
                title="Black"
                style="background-color: #6085a5"
                >Black</a
              >
            </li>
            <li>
              <a
                href="#"
                class="filter-color enabled"
                data-value="blue"
                title="Blue"
                style="background-color: #11426b"
                >Blue</a
              >
            </li>
            <li>
              <a
                href="#"
                class="filter-color enabled"
                data-value="red"
                title="Red"
                style="background-color: #ab6e6e"
                >Red</a
              >
            </li>
          </ul>
          <select
            id="pa_color"
            class=""
            name="attribute_pa_color"
            data-attribute_name="attribute_pa_color"
            data-show_option_none="yes"
          >
            <option value="">Choose an option</option>
            <option
              data-color="#6085a5"
              value="black"
              class="attached enabled"
            >
              Black
            </option>
            <option
              data-color="#11426b"
              value="blue"
              class="attached enabled"
            >
              Blue
            </option>
            <option
              data-color="#ab6e6e"
              value="red"
              class="attached enabled"
            >
              Red
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <th class="label">
          <label for="pa_size">Size</label>
        </th>

        <td class="value">
          <ul class="filter-item-list" data-name="attribute_pa_size">
            <li>
              <a
                href="#"
                class="filter-item enabled"
                data-value="extra-large"
                title="Extra Large"
                >XL</a
              >
            </li>
            <li>
              <a
                href="#"
                class="filter-item enabled"
                data-value="large"
                title="Large"
                >L</a
              >
            </li>
            <li>
              <a
                href="#"
                class="filter-item enabled"
                data-value="medium"
                title="Medium"
                >M</a
              >
            </li>
            <li>
              <a
                href="#"
                class="filter-item enabled"
                data-value="small"
                title="Small"
                >S</a
              >
            </li>
          </ul>
          <select id="pa_size" class="" name="attribute_pa_size">
            <option value="">Choose an option</option>
            <option value="extra-large" class="attached enabled">
              Extra Large
            </option>
            <option value="large" class="attached enabled">Large</option>
            <option value="medium" class="attached enabled">Medium</option>
            <option value="small" class="attached enabled">
              Small
            </option></select
          ><a
            class="reset_variations"
            href="#"
            style="display: none; visibility: hidden"
            >Clear</a
          >
        </td>
      </tr>
    </tbody>
  </table>