<div class="main-menu-wrap" style="top: 0px; margin-bottom: 2rem">
  <div id="main-menu" class="container hide-sticky-content">
    <div class="menu-center">
      <ul id="menu-main-menu" class="mega-menu">
        <li id="" class="menu-item item-m">
          <a [routerLink]="['/home']"
            ><i class="Simple-Line-Icons-home"></i>Home</a
          >
        </li>
        <li id="" class="menu-item item-m">
          <a [routerLink]="['/shop']" class="current"
            ><i class="Simple-Line-Icons-badge"></i>Shop</a
          >
        </li>
        <li id="nav-menu-item-2096" class="menu-item item-m">
          <a href="#"><i class="Simple-Line-Icons-basket"></i>Products</a>
        </li>
        <li id="nav-menu-item-689" class="menu-item item-m">
          <a href="#"><i class="Simple-Line-Icons-envelope"></i>Features</a>
        </li>
        <li id="nav-menu-item-718" class="menu-item item-m">
          <a [routerLink]="['/shop']"
            ><i class="Simple-Line-Icons-book-open"></i>Blog</a
          >
        </li>
        <li id="nav-menu-item-874" class="menu-item item-m">
          <a [routerLink]="['/about']"><i class="Simple-Line-Icons-users"></i>About Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>
