#header,
#header .header-main .header-contact .nav-top > li > a,
#header .top-links > li.menu-item:before {
  color: #222529;
}

a:hover {
  color: #222529;
}

.item-m{
  
  a:hover {
    color: #222529;
    border-top: 3px solid #0088cc;
    overflow: hidden;
  }
}