<aside id="block-widget-10" class="widget widget-block">
    <div class="block">
      <div class="porto-block" data-id="479">
        <div
          class="vc_row wpb_row row top-row sidebar-testimonials vc_custom_1571749277535 no-padding vc_row-has-fill"
        >
          <div class="vc_column_container col-md-12">
            <div class="wpb_wrapper vc_column-inner">
              <app-testimonial-card></app-testimonial-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>