div.header-container.type1.header-color-custom.header-sticky-color-dark.header-menu-style-default_new.sticky-menu-color-dark.header-menu-left.sticky-header {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-top-width: 0px;
    border-top-style: solid;
    background-color: transparent !important;
    color: rgb(51, 51, 51);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-color: rgb(0, 136, 204);
  }

  .conta {
    margin-left: 9.5rem;
    margin-right: 9.5rem;
  }
  div.header-center {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    flex: 1 1 0%;
    padding-left: 10px;
    padding-right: 0px;
  }

  input.s {
    box-sizing: border-box;
    margin: 0px;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.6;
    overflow: visible;
    padding: 0px 170px 0px 21px;
    padding-right: 200px;
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    background-color: transparent !important;
    color: rgb(141, 141, 141);
    visibility: visible;
  }

  b {
    box-sizing: border-box;
    font-weight: 500 !important;
    margin: 0px;
    padding: 0px;
    color: #222529;
    font-size: 16px !important;
    display: block;
    line-height: 0.9;
    margin-top: 3px;
    letter-spacing: 0.14px;
  }