<nav class="woocommerce-pagination">
  <form class="woocommerce-viewing" method="get">
    <label>Show: </label>

    <select name="count" class="count">
      <option value="12" selected="selected">12</option>
      <option value="24">24</option>
      <option value="36">36</option>
    </select>

    <input type="hidden" name="paged" value="" />
  </form>
  <ul class="page-numbers">
    <li>
      <span aria-current="page" class="page-numbers current">1</span>
    </li>
    <li>
      <a class="page-numbers" href="page/2/index.html">2</a>
    </li>
    <li>
      <a class="next page-numbers" href="page/2/index.html"></a>
    </li>
  </ul>
</nav>
