<div class="wrapper">
    <div class="page">
      <div class="main-container">
        <div class="main-wrapper">
          <div class="main pt-main">
            <!-- <home-bar-section> </home-bar-section> -->

            <!-- <home-bar-section> </home-bar-section> -->
            <div id="shopify-section-1597047153171" class="shopify-section">
              <div>
                <div
                  id="main-block-1597047153171"
                  class="main-section-one main_section main_section_1597047153171"
                  style="margin-top: 20px; margin-bottom: px; "
                >
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-9 order-2">
                        <app-slide-bar-section></app-slide-bar-section>
                        <app-home-ads></app-home-ads>
                        <app-featured-products></app-featured-products>
                        <app-brands></app-brands>
                        <app-filter-products></app-filter-products>
                        <app-support></app-support>
                      </div>
                      <div class="col-lg-3 order-1 side-left">
                        <app-widget-side-bar></app-widget-side-bar>
                        <app-sale-section></app-sale-section>
                        <app-cta-small></app-cta-small>
                        <app-testimonial></app-testimonial>
                        <app-blog-section></app-blog-section>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>