.home-container {
    min-height: 100vh !important;
    margin-left: 9rem;
    margin-right: 9rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h3 {
    border-bottom: none !important;
  }