<aside id="block-widget-9" class="widget widget-block">
  <div class="block">
    <div class="porto-block" data-id="478">
      <div
        class="vc_row wpb_row row top-row info-box-small-wrap vc_custom_1600324475770 vc_row-has-fill"
      >
        <div class="vc_column_container col-md-12 vc_custom_1505984566911">
          <div class="wpb_wrapper vc_column-inner">
            <div
              class="porto-carousel owl-carousel mb-4 pb-1 porto-standable-carousel stage-margin wpb_custom_84e0333fd49f88ae9e408620835deaea dots-style-1"
              data-plugin-options='{"stagePadding":1,"margin":1,"autoplay":false,"mouseDrag":true,"touchDrag":true,"autoplayTimeout":5000,"autoplayHoverPause":false,"items":1,"lg":1,"md":1,"sm":1,"xs":1,"nav":false,"dots":"yes","animateIn":"","animateOut":"","loop":false,"center":false,"video":false,"lazyLoad":false,"fullscreen":false}'
            >
              
              <app-sale-card></app-sale-card>
              <!-- porto-sicon-box -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
