<aside
                id="woocommerce_layered_nav-2"
                class="widget woocommerce widget_layered_nav woocommerce-widget-layered-nav"
              >
                <h3 class="widget-title">Color<span class="toggle"></span></h3>
                <ul
                  class="woocommerce-widget-layered-nav-list filter-item-list"
                >
                  <li
                    class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term"
                  >
                    <a
                      href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_color=black"
                      class="filter-color"
                      style="background-color: #6085a5"
                      >Black</a
                    >
                  </li>
                  <li
                    class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term"
                  >
                    <a
                      href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_color=blue"
                      class="filter-color"
                      style="background-color: #11426b"
                      >Blue</a
                    >
                  </li>
                  <li
                    class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term"
                  >
                    <a
                      href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_color=green"
                      class="filter-color"
                      style="background-color: #81d742"
                      >Green</a
                    >
                  </li>
                  <li
                    class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term"
                  >
                    <a
                      href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_color=indigo"
                      class="filter-color"
                      style="background-color: #6085a5"
                      >Indigo</a
                    >
                  </li>
                  <li
                    class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term"
                  >
                    <a
                      href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_color=light-blue"
                      class="filter-color"
                      style="background-color: #83c2bd"
                      >Light-Blue</a
                    >
                  </li>
                  <li
                    class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term"
                  >
                    <a
                      href="https://www.portotheme.com/wordpress/porto/shop1/shop/?filter_color=red"
                      class="filter-color"
                      style="background-color: #ab6e6e"
                      >Red</a
                    >
                  </li>
                </ul>
              </aside>