
  <div class="wpb_wrapper vc_column-inner">
    <div
      class="porto-sicon-box px-2 wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon"
    >
      <div class="porto-sicon-top">
        <div
          class="porto-just-icon-wrapper porto-icon advanced"
          style="
            color: #0188cc;
            background: transparent;
            border-style: solid;
            border-color: #0188cc;
            border-width: 2px;
            width: 80px;
            height: 80px;
            line-height: 80px;
            border-radius: 500px;
            font-size: 35px;
          "
        >
          <i [class]="iconClass"></i>
        </div>
      </div>
      <div class="porto-sicon-header">
        <h3
          class="porto-sicon-title"
          style="font-weight: 700; font-size: 1rem; line-height: 1.2"
        >
          {{ title }}
        </h3>
        <p style="line-height: 1.4; color: #555555">
          {{ sub_title }}
        </p>
      </div>
      <!-- header -->
      <div class="porto-sicon-description" style="font-size: 0.8125rem">
        {{ description }}
      </div>
      <!-- description -->
    </div>
    <!-- porto-sicon-box -->
  </div>

