<div id="main" class="column1 boxed">
  <!-- main -->
  <cart-bread-crumb></cart-bread-crumb>

  <app-empty-cart
    *ngIf="isEmpyt"
  > </app-empty-cart>

  <div class="container" *ngIf="!isEmpyt">
    <div class="row main-content-wrap">
      <!-- main content -->
      <div class="main-content col-lg-12">
        <div id="content" role="main">
          <article class="post-208 page type-page status-publish hentry">
            <h2 class="entry-title" style="display: none">Cart</h2>

            <div class="page-content">
              <div class="woocommerce">
                <div class="woocommerce-notices-wrapper"></div>
                <div class="cart-v2">
                  <div class="row mb-5 pb-2">
                    <div class="col-lg-8">
                      <app-cart-items></app-cart-items>
                    </div>

                    <div class="col-lg-4">
                      <app-cart-total-card></app-cart-total-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div id="content-inner-bottom"><!-- begin content inner bottom --></div>
        <!-- begin content inner bottom -->
      </div>
      <!-- end main content -->

      <div class="sidebar-overlay"></div>
    </div>
  </div>
</div>
