<div class="register-container">
  <app-account-bread-crumb
    [current_location]="'Create Account'"
    [title]="'Create Account'"
  >
  </app-account-bread-crumb>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto mb-4">
        <div *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <form
          class="form-box"
          (ngSubmit)="onSubmitRegister(authForm)"
          #authForm="ngForm"
        >
          <h3 class="legend text-center">Register</h3>
          <div class="content">
            <ul class="form-list">
              <li class="">
                <label for="FirstName" class="hidden-label"
                  ><span>Name</span><em>*</em></label
                >
                <input
                  type="name"
                  placeholder="Enter your username"
                  name="name"
                  id="FirstName"
                  class="input-full"
                  autocapitalize="words"
                  autofocus=""
                  required
                  ngModel
                />
              </li>

              <li>
                <label for="Email" class="hidden-label css_inspector_current"
                  ><span>Email</span><em>*</em></label
                >
                <input
                  type="email"
                  name="email"
                  id="Email"
                  placeholder="Enter your email"
                  class="input-full"
                  autocorrect="off"
                  autocapitalize="off"
                  required
                  ngModel
                />
              </li>
              <li>
                <label for="CreatePassword" class="hidden-label"
                  ><span>Password</span><em>*</em></label
                >
                <input
                  type="password"
                  class="input-full"
                  required=""
                  name="password"
                  placeholder="***********"
                  ngModel
                  required
                />
              </li>
              <li>
                <label for="CreatePasswordConfirmation" class="hidden-label"
                  ><span>Password Confirmation</span><em>*</em></label
                >
                <input
                  type="password"
                  class="input-full"
                  required=""
                  name="password_confirmation"
                  placeholder="***********"
                  ngModel
                  required
                />
              </li>

              <!-- <base-loader v-if="isLoading"> </base-loader> -->
              <li class="mb-lg-0">
                <p class="required">
                  <a class="already-have-account">Already have an account ?</a>
                </p>
                <button type="submit" class="btn w-100 btn-dark" title="Log in">
                  <span class="login-account">Register</span>
                </button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
