.already-have-account {
    box-sizing: border-box;
    color: rgb(34, 37, 41);
    text-decoration: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    visibility: visible;
  }
  .register-container {
    margin-top: 2rem;
  }