<div class="vc_row wpb_row row top-row">
  <div class="vc_column_container col-md-4">
    <app-cta-container
      [iconClass]="'Simple-Line-Icons-earphones-alt'"
      [title]="'CUSTOMER SUPPORT'"
      [sub_title]="'Need Assistence?'"
      [description]="description"
    >
    </app-cta-container>
  </div>

  <div class="vc_column_container col-md-4">
    <app-cta-container
      [iconClass]="'Simple-Line-Icons-credit-card'"
      [title]="'SECURED PAYMENT'"
      [sub_title]="'Safe &amp; Fast'"
      [description]="description"
    >
    </app-cta-container>
  </div>

  <div class="vc_column_container col-md-4">
    <app-cta-container
      [iconClass]="'Simple-Line-Icons-action-undo'"
      [title]="' RETURNS'"
      [sub_title]="' Easy &amp; Free'"
      [description]="description"
    >
    </app-cta-container>
  </div>
</div>
