<div id="mini-cart" class="mini-cart minicart-arrow-alt">
  <div class="cart-head">
    <a [routerLink]="['/cart']">
      <span class="cart-icon"
        ><i class="minicart-icon porto-icon-cart-thick"></i
        ><span class="cart-items">{{ cart_items }}</span></span
      ><span class="cart-items-text">{{ cart_items }} item</span>
    </a>
  </div>
  <div class="cart-popup widget_shopping_cart">
    <div class="widget_shopping_cart_content">
      <div class="total-count text-v-dark clearfix">
        <span>1 ITEM</span
        ><a
          class="text-v-dark pull-right text-uppercase"
          [routerLink]="['/cart']"
          >View cart</a
        >
      </div>
      <ul class="cart_list product_list_widget scrollbar-inner">
        <li
          class="woocommerce-mini-cart-item porto-variation-2093 mini_cart_item"
          *ngFor="let item of items; let i = index"
        >
          <div class="product-image">
            <div class="inner">
              <a [routerLink]="['/product_detail/' + item.product.id]">
                <app-image-card [image]="item.product.product_images[0].image">
                </app-image-card>
              </a>
            </div>
          </div>
          <div class="product-details">
            <a
              href="https://www.portotheme.com/wordpress/porto/shop1/product/laptop-case-bag/?attribute_pa_color=black&amp;attribute_pa_size=large"
              class="text-v-dark"
            >
              {{ item.product.name }}
            </a>
            <span class="quantity"
              >1 ×
              <span
                class="woocommerce-Price-amount amount"
                style="margin-top: 6px"
                ><bdi
                  ><span class="woocommerce-Price-currencySymbol"> $</span
                  >{{ item.product.price.toFixed(2) }}</bdi
                ></span
              ></span
            >
            <a
              (click)="removeItemFromCart(item.id)"
              class="remove remove-product"
            ></a>
          </div>
          <div class="ajax-loading"></div>
        </li>
      </ul>
      <!-- end product list -->

      <p class="woocommerce-mini-cart__total total">
        <strong>Subtotal:</strong>
        <span class="woocommerce-Price-amount amount"
          ><bdi
            ><span class="woocommerce-Price-currencySymbol">$</span>666.00</bdi
          ></span
        >
      </p>

      <p class="woocommerce-mini-cart__buttons buttons">
        <a [routerLink]="['/cart']" class="button wc-forward">View cart</a
        ><a
          href="https://www.portotheme.com/wordpress/porto/shop1/checkout/"
          class="button checkout wc-forward"
          >Checkout</a
        >
      </p>
    </div>
  </div>
</div>
