.spr-reviews {
    margin-top: 3rem !important;
  }
  .spr-review-header-starratings {
    float: right !important;
  }
  .icon-angle-left:before {
    content: "";
  }
  .custome-title {
    font-weight: 600 !important;
  }
  .spr-review-content {
    margin-top: -15px;
  }


  div#reviews_4878315749453.spr-reviews {
    box-sizing: border-box;
    margin: 24px 0px 0px;
    padding: 0px;
}

h3.spr-review-header-title {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-family: Poppins;
    font-weight: 700;
    line-height: 25px;
    color: rgb(119, 119, 119);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    border: none;
}

div#spr-review-108674818.spr-review {
    box-sizing: border-box;
    margin: 0px;
    padding: 20px;
    position: relative;
    min-height: 90px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 100px;
    border: 0px;
    background: rgb(245, 247, 247);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h3.spr-review-header-title {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0.5rem !important;
    font-family: Poppins;
    font-weight: 700 !important;
    line-height: 25px;
    color: rgb(119, 119, 119) !important;
    font-size: 14px !important;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    border: none;
}

strong {
    box-sizing: border-box;
    font-weight: 400 !important;
    margin: 0px;
    padding: 0px;
    color: rgb(153, 153, 153) !important;
    font-size: 11.34px !important;
}

p.spr-review-content-body {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 1rem;
    margin: 0px !important;
    padding: 0px;
    line-height: 1.9;
    font-size: 13px;
}

i.spr-icon.spr-icon-star {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    font-size: 10.8px !important;
    position: relative;
    top: 1px;
    width: 1.3em;
    height: 1.3em;
}

.spr-review::before {
    position: absolute !important;
    top: 0 !important;
    left: -100px !important;
    width: 65px !important;
    height: 65px !important;
    content: "" !important;
}