<li
  class="review byuser comment-author-porto_admin bypostauthor even thread-even depth-1"
  id="li-comment-514"
>
  <div id="comment-514" class="comment_container">
    <div class="img-thumbnail">
      <img
        alt=""
        src=""
        data-oi=""
        srcset="
          
        "
        data-srcset=""
        class="porto-lazyload avatar avatar-80 photo"
        height="80"
        width="80"
      />
    </div>
    <div class="comment-text">
      <div class="star-rating" title="" data-bs-original-title="3">
        <span style="width: 60%"> <strong>3</strong> out of 5 </span>
      </div>

      <p class="meta">
        <strong class="woocommerce-review__author">Joe Doe</strong>
        <span class="woocommerce-review__dash">–</span>
        <time
          class="woocommerce-review__published-date"
          datetime="2019-07-19T18:28:10+00:00"
          >July 19, 2019</time
        >
      </p>

      <div class="description"><p>Good</p></div>
    </div>
  </div>
</li>
