<div class="box_footer">
    <div id="shopify-section-footer" class="shopify-section">
      <footer class="footer-wrapper">
        <div class="footer-middle">
          <div class="level0 container">
            <div class="footer-ribbon">
              <span><span class="lang1">Get in touch</span> </span>
            </div>
            <div class="row">
              <div class="col-lg-3 info-footer">
                <div class="widget-wrapper">
                  <div class="footer-block-title">
                    <h3>
                      <span><span class="lang1">ABOUT US</span> </span>
                    </h3>
                  </div>
                  <div class="block_content">
                    <div class="lang1">
                      <a
                        href="index.html"
                        target="_self"
                        style="margin-bottom: 20px; display: block"
                      >
                        <img
                          class="lazyload"
                          width="101"
                          data-src="../../../assets/cdn.shopify.com/s/files/1/1632/5913/files/logo_ecomwhite.png"
                          alt="external"
                        />
                      </a>
                      <div class="textwidget custom-html-widget" style="margin-top: -3px">
                        <p class="mb-4"></p>
                        <a
                          href="#"
                          class="font-weight-bold text-color-light"
                          style="text-decoration: underline; font-weight: 700"
                          >read more...</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div style="clear: both"></div>
              </div>
              <div class="col-lg-3 info-footer">
                <div class="widget-wrapper">
                  <div class="footer-block-title">
                    <h3>
                      <span><span class="lang1">CONTACT INFO</span> </span>
                    </h3>
                  </div>
                  <div class="block_content">
                    <div class="lang1">
                      <ul class="contact-info">
                        <li>
                          <b style="color: #fff; text-transform: uppercase">Address:</b
                          ><span>237 Street New Cannan, Highfield, Harare</span>
                        </li>
                        <li>
                          <b style="color: #fff; text-transform: uppercase">Phone:</b
                          ><span>+(263) 782-903 276</span>
                        </li>
                        <li>
                          <b style="color: #fff; text-transform: uppercase">Email:</b
                          ><span
                            ><a href="mailto:tafadzwagashirah@gmail.com"
                              >tafadzwagashirah@gmail.com</a
                            ></span
                          >
                        </li>
                        <li>
                          <b style="color: #fff; text-transform: uppercase"
                            >Working Days/Hours:</b
                          ><span> Mon - Sun / 9:00 AM - 8:00 PM</span>
                        </li>
                      </ul>
                      <div
                        class="share-links"
                        style="margin-top: 20px; margin-bottom: 20px"
                      >
                        <a href="#" target="_blank" class="share-facebook">Facebook</a>
                        <a href="#" target="_blank" class="share-twitter">Twitter</a>
                        <a href="#" target="_blank" class="share-linkedin">Linkedin</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 info-footer">
                <div class="widget-wrapper">
                  <div class="footer-block-title">
                    <h3>
                      <span><span class="lang1">CUSTOMER SERVICE</span> </span>
                    </h3>
                  </div>
                  <div class="custom-footer-content">
                    <ul class="footer-list">
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Help & FAQs</span> </a>
                      </li>
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Order Tracking</span> </a>
                      </li>
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Shipping & Delivery</span> </a>
                      </li>
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Orders History</span> </a>
                      </li>
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Advanced search</span> </a>
                      </li>
                      <li class="theme-color">
                        <a href="account/login4236.html"
                          ><span class="lang1">My Account</span>
                        </a>
                      </li>
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Careers</span> </a>
                      </li>
                      <li class="theme-color">
                        <a href="pages/about-us.html"
                          ><span class="lang1">About Us</span>
                        </a>
                      </li>
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Corporate Sales</span> </a>
                      </li>
                      <li class="theme-color">
                        <a href="#"><span class="lang1">Privacy</span> </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 info-footer">
                <div class="widget-wrapper">
                  <div class="footer-block-title">
                    <h3>
                      <span><span class="lang1">POPULAR TAGS</span> </span>
                    </h3>
                  </div>
                  <div class="block_content">
                    <div class="lang1">
                      <div
                        class="tagcloud"
                        style="margin-top: -0.3846em; margin-bottom: -0.3846em"
                      >
                        <a href="#" class="tag-cloud-link tag-link-33 tag-link-position-1"
                          >Bag</a
                        >
                        <a
                          href="#"
                          class="tag-cloud-link tag-link-122 tag-link-position-2"
                          >Black</a
                        >
                        <a
                          href="#"
                          class="tag-cloud-link tag-link-124 tag-link-position-3"
                          >Blue</a
                        >
                        <a href="#" class="tag-cloud-link tag-link-40 tag-link-position-4"
                          >Clothes</a
                        >
                        <a href="#" class="tag-cloud-link tag-link-50 tag-link-position-5"
                          >Fashion</a
                        >
                        <a href="#" class="tag-cloud-link tag-link-53 tag-link-position-6"
                          >Hub</a
                        >
                        <a
                          href="#"
                          class="tag-cloud-link tag-link-121 tag-link-position-7"
                          >Jean</a
                        >
                        <a href="#" class="tag-cloud-link tag-link-67 tag-link-position-8"
                          >Shirt</a
                        >
                        <a href="#" class="tag-cloud-link tag-link-68 tag-link-position-9"
                          >Skirt</a
                        >
                        <a
                          href="#"
                          class="tag-cloud-link tag-link-70 tag-link-position-10"
                          >Sports</a
                        >
                        <a
                          href="#"
                          class="tag-cloud-link tag-link-71 tag-link-position-11"
                          >Sweater</a
                        >
                        <a
                          href="#"
                          class="tag-cloud-link tag-link-123 tag-link-position-12"
                          >Winter</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="custom-block order-lg-last ml-lg-auto">
              <div class="lang1">
                <img
                  class="lazyload"
                  data-src="../../../assets/cdn.shopify.com/s/files/1/1632/5913/files/shop1_payment_logo.png"
                />
              </div>
            </div>
            <address>
              <span class="lang1"
                >&copy; Porto eCommerce. © 2020. All Rights Reserved</span
              >
            </address>
          </div>
        </div>
        <div id="back-top" class="hidden-phone">
          <a href="#top">
            <div class="sticker-wrapper">
              <div class="sticker">
                <i class="icon-up-open"></i>
              </div>
            </div>
          </a>
        </div>
      </footer>
    </div>
  </div>