<div id="main" class="column1 boxed">
  <!-- main -->

  <div class="container">
    <div class="row main-content-wrap">
      <!-- main content -->
      <div class="main-content col-lg-12">
        <div id="content" role="main">
          <article class="post-210 page type-page status-publish hentry">
            <h2 class="entry-title" style="display: none">My Account</h2>
            <span class="vcard" style="display: none"
              ><span class="fn"
                ><a
                  href="https://www.portotheme.com/wordpress/porto/shop1/author/porto_admin/"
                  title="Posts by Joe Doe"
                  rel="author"
                  >Joe Doe</a
                ></span
              ></span
            ><span class="updated" style="display: none"
              >2016-06-20T09:22:56+00:00</span
            >
            <div class="page-content">
              <div class="woocommerce">
                <nav class="woocommerce-MyAccount-navigation">
                  <h5
                    class="font-weight-bold text-md text-uppercase pt-1 m-b-sm"
                  >
                    My account
                  </h5>
                  <ul>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active"
                    >
                      <a
                        href="https://www.portotheme.com/wordpress/porto/shop1/my-account/"
                        >Dashboard</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders"
                    >
                      <a
                        href="https://www.portotheme.com/wordpress/porto/shop1/my-account/orders/"
                        >Orders</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads"
                    >
                      <a
                        href="https://www.portotheme.com/wordpress/porto/shop1/my-account/downloads/"
                        >Downloads</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address"
                    >
                      <a
                        href="https://www.portotheme.com/wordpress/porto/shop1/my-account/edit-address/"
                        >Addresses</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account"
                    >
                      <a
                        href="https://www.portotheme.com/wordpress/porto/shop1/my-account/edit-account/"
                        >Account details</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--wishlist"
                    >
                      <a
                        href="https://www.portotheme.com/wordpress/porto/shop1/wishlist/"
                        >Wishlist</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout"
                    >
                      <a
                        href="https://www.portotheme.com/wordpress/porto/shop1/my-account/customer-logout/?_wpnonce=b16d2d6af5"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </nav>

                <div class="woocommerce-MyAccount-content">
                  <div class="align-left">
                    <div class="box-content">
                      <div class="woocommerce-notices-wrapper"></div>
                      <p class="mb-4">
                        Hello
                        <strong class="account-text-user"
                          >tafadzwa.gashira</strong
                        >
                        (not
                        <strong class="account-text-user"
                          >tafadzwa.gashira</strong
                        >?
                        <a
                          href="https://www.portotheme.com/wordpress/porto/shop1/my-account/customer-logout/?_wpnonce=b16d2d6af5"
                          >Log out</a
                        >)
                      </p>

                      <p class="m-b-xl">
                        From your account dashboard you can view your
                        <a
                          href="https://www.portotheme.com/wordpress/porto/shop1/my-account/orders/"
                          >recent orders</a
                        >, manage your
                        <a
                          href="https://www.portotheme.com/wordpress/porto/shop1/my-account/edit-address/"
                          >shipping and billing addresses</a
                        >, and
                        <a
                          href="https://www.portotheme.com/wordpress/porto/shop1/my-account/edit-account/"
                          >edit your password and account details</a
                        >.
                      </p>
                      <div class="box-with-icon">
                        <div class="row">
                          <div class="col-md-4 col-sm-6 col-12 m-b-md">
                            <div
                              class="porto-content-box featured-boxes featured-boxes-style-5 p-t-lg pb-4"
                            >
                              <div
                                class="featured-box featured-box-effect-4 mb-0"
                              >
                                <a
                                  href="https://www.portotheme.com/wordpress/porto/shop1/my-account/orders/"
                                  class="text-decoration-none"
                                >
                                  <div
                                    class="box-content"
                                    style="height: 111.816px"
                                  >
                                    <i
                                      class="icon-featured border-0 bg-transparent Simple-Line-Icons-social-dropbox"
                                    ></i>
                                    <h4
                                      class="font-weight-bold mt-1 mb-0 text-md"
                                    >
                                      Orders
                                    </h4>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-12 m-b-md">
                            <div
                              class="porto-content-box featured-boxes featured-boxes-style-5 p-t-lg pb-4"
                            >
                              <div
                                class="featured-box featured-box-effect-4 mb-0"
                              >
                                <a
                                  href="https://www.portotheme.com/wordpress/porto/shop1/my-account/downloads/"
                                  class="text-decoration-none"
                                >
                                  <div
                                    class="box-content"
                                    style="height: 111.816px"
                                  >
                                    <i
                                      class="icon-featured border-0 bg-transparent Simple-Line-Icons-cloud-download"
                                    ></i>
                                    <h4
                                      class="font-weight-bold mt-1 mb-0 text-md"
                                    >
                                      Downloads
                                    </h4>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-12 m-b-md">
                            <div
                              class="porto-content-box featured-boxes featured-boxes-style-5 p-t-lg pb-4"
                            >
                              <div
                                class="featured-box featured-box-effect-4 mb-0"
                              >
                                <a
                                  href="https://www.portotheme.com/wordpress/porto/shop1/my-account/edit-address/"
                                  class="text-decoration-none"
                                >
                                  <div
                                    class="box-content"
                                    style="height: 111.816px"
                                  >
                                    <i
                                      class="icon-featured border-0 bg-transparent Simple-Line-Icons-pointer"
                                    ></i>
                                    <h4
                                      class="font-weight-bold mt-1 mb-0 text-md"
                                    >
                                      Addresses
                                    </h4>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-12 m-b-md">
                            <div
                              class="porto-content-box featured-boxes featured-boxes-style-5 p-t-lg pb-4"
                            >
                              <div
                                class="featured-box featured-box-effect-4 mb-0"
                              >
                                <a
                                  href="https://www.portotheme.com/wordpress/porto/shop1/my-account/edit-account/"
                                  class="text-decoration-none"
                                >
                                  <div
                                    class="box-content"
                                    style="height: 111.816px"
                                  >
                                    <i
                                      class="icon-featured border-0 bg-transparent porto-icon-user-2"
                                    ></i>
                                    <h4
                                      class="font-weight-bold mt-1 mb-0 text-md"
                                    >
                                      Account details
                                    </h4>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-12 m-b-md">
                            <div
                              class="porto-content-box featured-boxes featured-boxes-style-5 p-t-lg pb-4"
                            >
                              <div
                                class="featured-box featured-box-effect-4 mb-0"
                              >
                                <a
                                  href="https://www.portotheme.com/wordpress/porto/shop1/wishlist/"
                                  class="text-decoration-none"
                                >
                                  <div
                                    class="box-content"
                                    style="height: 111.816px"
                                  >
                                    <i
                                      class="icon-featured border-0 bg-transparent Simple-Line-Icons-heart"
                                    ></i>
                                    <h4
                                      class="font-weight-bold mt-1 mb-0 text-md"
                                    >
                                      Wishlist
                                    </h4>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-12 m-b-md">
                            <div
                              class="porto-content-box featured-boxes featured-boxes-style-5 p-t-lg pb-4"
                            >
                              <div
                                class="featured-box featured-box-effect-4 mb-0"
                              >
                                <a
                                  href="https://www.portotheme.com/wordpress/porto/shop1/my-account/customer-logout/?_wpnonce=b16d2d6af5"
                                  class="text-decoration-none"
                                >
                                  <div
                                    class="box-content"
                                    style="height: 111.816px"
                                  >
                                    <i
                                      class="icon-featured border-0 bg-transparent Simple-Line-Icons-logout"
                                    ></i>
                                    <h4
                                      class="font-weight-bold mt-1 mb-0 text-md"
                                    >
                                      Logout
                                    </h4>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- end main content -->

      <div class="sidebar-overlay"></div>
    </div>
  </div>
</div>
