<section class="page-top page-header-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumbs-wrap text-center">
            <ul
              class="breadcrumb"
              itemscope
              itemtype="https://schema.org/BreadcrumbList"
            >
              <li
                class="home"
                itemprop="itemListElement"
                itemscope
                itemtype="https://schema.org/ListItem"
              >
                <a
                  itemprop="item"
                  href="https://www.portotheme.com/wordpress/porto/shop1"
                  title="Go to Home Page"
                  ><span itemprop="name">Home</span></a
                ><meta itemprop="position" content="1" /><i
                  class="delimiter delimiter-2"
                ></i>
              </li>
              <li
                itemprop="itemListElement"
                itemscope
                itemtype="https://schema.org/ListItem"
              >
                <a
                  itemprop="item"
                  href="https://www.portotheme.com/wordpress/porto/shop1/shop/"
                  ><span itemprop="name">Shop</span></a
                ><meta itemprop="position" content="2" /><i
                  class="delimiter delimiter-2"
                ></i>
              </li>
              <li>My Account</li>
            </ul>
          </div>
          <div class="text-center">
            <h1 class="page-title">My Account</h1>
          </div>
        </div>
      </div>
    </div>
  </section>