.header-container.type1 {
  border-top-width: 0; }
  .header-container.type1 .header {
    padding-top: 0;
    padding-bottom: 0; }
  .header-container.type1 .header-center {
    flex: 1;
    padding: 20px 15px; }
  .header-container.type1 .header-left, .header-container.type1 .header-right {
    -ms-flex: inherit;
    flex: inherit; }
  .header-container.type1 .header-left {
    min-width: 16%;
    padding: 27px 0; }
  .header-container.type1 .header-right {
    padding: 22px 0; }
  .header-container.type1 .top-links-container {
    padding: 3px 0 3px;
    font-size: .7857em; }
    @media (max-width: 991px) {
      .header-container.type1 .top-links-container {
        padding: 1px 0 1px; } }
  .header-container.type1 .top-links-area .links li {
    padding: 2px 15px;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    border: none;
    letter-spacing: .025em; }
    .header-container.type1 .top-links-area .links li a {
      font-weight: inherit; }
  .header-container.type1 .top-links-area .links + span {
    height: 20px;
    line-height: 1;
    color: transparent;
    width: 1px;
    background: rgba(255, 255, 255, 0.18);
    display: inline-block;
    margin: 0 10px;
    opacity: .8; }
  .header-container.type1 .top-links-container .currency-wrapper > a, .header-container.type1 .top-links-container .language-wrapper > a, .header-container.type1 .top-links-container .compare-link > a {
    border: none;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .025em; }
    .header-container.type1 .top-links-container .currency-wrapper > a i:before, .header-container.type1 .top-links-container .language-wrapper > a i:before, .header-container.type1 .top-links-container .compare-link > a i:before {
      content: '\e81c';
      font-weight: 600; }
  .header-container.type1 .top-links-container .currency-wrapper > a {
    padding-left: 0; }
  .header-container.type1 .top-links-container span.split {
    border-color: #e7e7e7;
    display: none; }
  .header-container.type1 .main-top-nav {
    position: relative; }
  .header-container.type1 .searchform input[type=text] {
    height: 40px;
    padding: 0 225px 0 20px; }
  .header-container.type1 .searchform .searchsubmit {
    right: 0;
    width: 46px;
    color: #606669;
    font-size: 0;
    border-radius: 0 30px 30px 0;
    font-weight: 400; }
    .header-container.type1 .searchform .searchsubmit:after {
      font-size: 16px;
      top: 19px; }
  .header-container.type1 .search-by-category {
    right: 45px; }
    .header-container.type1 .search-by-category .input-dropdown-inner {
      height: 40px;
      border-left: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
      line-height: 40px;
      min-width: 129px; }
      .header-container.type1 .search-by-category .input-dropdown-inner > a {
        padding-left: 10px;
        padding-right: 15px;
        letter-spacing: .005em; }
        .header-container.type1 .search-by-category .input-dropdown-inner > a:after {
          margin-left: 10px; }
  .header-container.type1 .search-area {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    @media (max-width: 575px) {
      .header-container.type1 .search-area {
        display: none; } }
    .header-container.type1 .search-area .search-extended {
      border-radius: 30px;
      width: 100%; }
  .header-container.type1 .top-navigation li.level0 a.level-top {
    padding-top: 18px;
    padding-bottom: 18px; }
    .header-container.type1 .top-navigation li.level0 a.level-top > span > .cat-label {
      top: 0; }
  .header-container.type1 .header-contact {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-right: none; }
    .header-container.type1 .header-contact .my-account {
      padding: 0 .125rem; }
    .header-container.type1 .header-contact > a i {
      display: block;
      margin: 0 5px;
      font-size: 27px; }
  .header-container.type1 .custom-block {
    border: none;
    font-size: 24px;
    padding: 0; }
    @media (max-width: 991px) {
      .header-container.type1 .custom-block .header-contact > div {
        display: none; } }
  .header-container.type1 .mini-cart {
    position: relative;
    line-height: 39px; }
  @media (max-width: 991px) {
    .header-container.type1 .header-left, .header-container.type1 .header-right, .header-container.type1 .header-center {
      padding: 20px 0; }
    .header-container.type1 .header-center {
      flex: none; }
    .header-container.type1 .header-right {
      margin-left: 0; }
    .header-container.type1 .search-icon i:before {
      font-weight: 600; }
    .header-container.type1 .search-area.show-icon-tablet .search-extended::before {
      display: block;
      position: absolute;
      top: -22px;
      right: 75px;
      border-bottom-color: #dfdfdf; }
    .header-container.type1 .search-area.show-icon-tablet .search-extended {
      right: -75px;
      border-color: #dfdfdf;
      border-width: 4px;
      border-style: solid; }
    .header-container.type1 .menu-icon {
      margin-right: 8px; }
    .header-container.type1 .cart-area {
      margin-left: 20px; }
    .header-container.type1 .mini-cart {
      margin-left: .3125rem; }
    .header-container.type1 .top-links-area ul.links {
      right: 23px;
      padding: 5px 0; }
      .header-container.type1 .top-links-area ul.links li {
        padding: 2px 0; }
        .header-container.type1 .top-links-area ul.links li a {
          padding: 0 10px; } }
  .header-container.type1.sticky-header .mini-cart .cart-wrapper {
    right: 0; }
  .header-container.type1.sticky-header .header-wrapper {
    padding: 0; }
  @media (max-width: 991px) {
    .header-container.type1.sticky-header .header {
      min-height: 60px; }
    .header-container.type1.sticky-header .top-links-container {
      display: none; }
    .header-container.type1.sticky-header .header-left, .header-container.type1.sticky-header .header-right, .header-container.type1.sticky-header .header-center {
      padding: 0; } }
