@media (max-width: 1199px) {
  /*=============================================
  # slideshow with thumbnails
  ===============================================*/
  .slideshow-thumbnails.slideshow-section .slideshow .content h2 {
    font-size: 60px; }

  .slideshow-thumbnails.slideshow-section .slideshow .content .button a {
    margin: 15px 0;
    padding: 15px 30px;
    font-size: 11px; }

  /*=============================================
  # slideshow background
  ===============================================*/
  .slideshow-background .slideshow .content .content-area a {
    font-size: 14px; }

  .slideshow-background .slideshow .content .content-area p {
    font-size: 32px; }

  .slideshow-background .slideshow .content .content-area h2 {
    font-size: 58px; }

  .slideshow-background .slideshow .content .content-area em {
    margin-bottom: -4px;
    margin-left: 8px;
    font-size: 18px; }

  /*=============================================
  # end slideshow background
  ===============================================*/
  /*Header Type*/
  .top-newsletter form .input-group input.input-group-field {
    width: 270px; }

  .type_8 .header-container .top-links-icon {
    display: inline-block; }

  .type_8.header-wrapper .links {
    display: none !important;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff !important;
    text-align: right;
    z-index: 9; }

  .type_8.header-wrapper .links.show {
    display: block !important; }

  .type_8.header-wrapper .links li {
    display: block !important;
    padding: 0 !important;
    border: 0 !important; }

  .type_8.header-wrapper .links li:hover a {
    background-color: #cccccc !important;
    color: #fff !important;
    text-decoration: none !important; }

  .type_8.header-wrapper .links li a {
    display: block;
    padding: 0 10px !important;
    transition: all .2s;
    color: #777 !important;
    font-weight: 400;
    white-space: nowrap; }

  /*collection*/
  .category-boxed-banner .banner-text p {
    font-size: 17px; }

  /*footer*/
  .product-view .more-views-vertical {
    width: 80px; }

  .product-view .more-views-vertical .media-list {
    width: 80px;
    height: 350px; }

  .product-view-fullwidth .product-view .products-related {
    padding: 41px 30px 36px; }

  .product-view-sticky-left-right .product-view .product-name {
    max-width: 450px; } }
@media (max-width: 1023px) {
  .hidden-tablet {
    display: none; }

  .visible-tablet {
    display: block; }

  .header-wrapper .header-container #main-header-mobile-sticky-wrapper {
    display: block; }

  .header-wrapper .header-container .main-header.mobile-header .right-header-menu {
    position: relative;
    text-align: right; }

  .header-wrapper .header-container .main-header.mobile-header .right-header-menu .right-wrapp {
    display: inline-block; }

  .header-wrapper .header-container .main-header.mobile-header .right-header-menu .item.header-menu {
    position: static; }

  .type_8 .hidden-tablet {
    display: block !important; }

  /*=============================================
  # Header
  ===============================================*/
  .header-wrapper .header-container .top-bar-header {
    padding: 0; }

  .header-wrapper .header-container .top-bar-header .top-bar-left {
    width: 40%; }

  .header-wrapper .header-container .top-bar-header .top-bar-right {
    width: 60%; }

  .header-wrapper .header-container .top-bar-header .top-bar-right .setting-currency {
    right: 0; }

  .header-wrapper .header-container .top-bar-header .top-bar-right .inner-item li {
    padding: 0 0 0 30px; }

  .header-wrapper .header-container .top-bar-header .top-bar-left .links li a {
    padding: 0 30px 0; }

  .column-mobile .header-search,
  .column-mobile .header-menu {
    float: left;
    line-height: 35px;
    font-size: 18px; }

  .column-mobile .header-search {
    margin-right: 30px; }

  .header-wrapper .header-container .main-header .header-search-form {
    top: -23px;
    padding: 0; }

  .header-wrapper .header-container .main-header .column-mobile {
    float: right; }

  .header-wrapper .header-container .main-header .logo {
    padding: 0; }

  .header-wrapper .header-container .is-sticky .main-header {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

  .header-wrapper .header-container .is-sticky .main-header .logo {
    display: inline-block; }

  .header-wrapper .header-container .main-header .wrapper-top-menu {
    margin: 0; }

  /*=============================================
  # Main
  ===============================================*/
  .wow {
    opacity: 1 !important; }

  .main-container {
    padding: 0; }

  /*block banner*/
  .home-banner .top-container {
    margin-bottom: 10px; }

  /*Block option*/
  .main-container .block-option-container .container .block-subscribe {
    margin-bottom: 30px; }

  /*join comunity*/
  .main-container .block-option-container .container .block-subscribe .block-inner .input-group .input-box input {
    width: 400px; }

  /*product page*/
  .product-view .product-shop-wrapper {
    padding: 0; }

  /*Blog page*/
  .blog-wrapper.blog-layout-typ2 .post-wrapper .postContent .blog-media,
  .blog-wrapper.blog-layout-typ2 .post-wrapper .postContent .blog-content {
    width: 100%;
    padding-left: 0; }

  /*Article page*/
  .template-blog .main-container .breadcrumbs ul,
  .template-article .main-container .breadcrumbs ul {
    display: block;
    width: 100%;
    margin-top: 5px;
    text-align: left; }

  .main-container .blogs-items .img-responsive {
    width: 100%; }

  /*=============================================
  # Footer
  ===============================================*/ }
@media (max-width: 991px) {
  .hidden-for-sm {
    display: none !important; }

  .new-products .masonry-grid .grid {
    width: 100%; }

  .masonry-grid .masonry-grid-item.w2,
  .masonry-grid .masonry-grid-item.w3 {
    width: 100%; }

  .masonry-grid .masonry-grid-item {
    width: 50%; }

  .new-products .masonry-grid .grid li.item {
    width: 50%;
    padding: 1.5px;
    float: left; }

  .new-products .masonry-grid .grid.double li.item {
    width: 100%; }

  .banner-slide-section .content h3 {
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 0; }

  /*=============================================
  # slideshow with thumbnails
  ===============================================*/
  .slideshow-thumbnails.slideshow-section .slideshow .content h2 {
    font-size: 45px; }
  .slideshow-thumbnails.slideshow-section .slideshow .content .button a {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 10px; }

 /*=============================================
# slideshow background
===============================================*/
  .slideshow-background .slideshow .content .content-area em {
    margin-bottom: -3px;
    margin-left: 6px;
    font-size: 15px; }

  .slideshow-background .slideshow .content .content-area h2 {
    font-size: 50px; }

  .slideshow-background .slideshow .content .content-area p {
    font-size: 26px; }

  .slideshow-background .slideshow .content .content-area a {
    font-size: 12px; }

  /*=============================================
  #  end slideshow background
  ===============================================*/
  /*Header Type*/
  .header-container.sticky-header {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    transition: all .3s;
    border: 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
    z-index: 50; }

  .top-newsletter form .input-group input.input-group-field {
    width: 160px; }

  .header-container .header-wrapper {
    display: none; }

  .header-container.sticky-header .header > .logo {
    display: inline-block; }

  .top-navigation.side-menu {
    display: none; }

  /*=============================================
  # slideshow
  ===============================================*/
  /*=============================================
  # End slideshow
  ===============================================*/
  /*collection*/
  .category-boxed-banner .banner-text h2 {
    font-size: 28px; }

  .category-boxed-banner .banner-text p {
    font-size: 12px; }

  /* New Style */
  .category-boxed-banner.style1 .banner-text h2,
  .category-boxed-banner.style2 .banner-text h2 {
    font-size: 16px; }

  .category-boxed-banner.style1 .banner-text h3,
  .category-boxed-banner.style2 .banner-text h3 {
    font-size: 32px; }

  .header-container .menu-icon {
    display: block; }

  .menu-icon a {
    color: white; }

  .menu-icon a i {
    font-size: 20px; }

  .popup-quick-view {
    margin: 100px 20px; }

  .footer-bottom .container {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .footer-wrapper .footer-bottom .custom-block {
    margin: 0; }

  .insta-content-style2 {
    position: relative;
    left: 0;
    width: 100%;
    -webkit-transform: none;
    transform: none; }

  .homepage-bar [class^='col-md-'],
  .homepage-bar [class^='col-lg-'] {
    border: 0 !important;
    text-align: left; }

  .mini-cart .cart-design-5 .icon-cart-header {
    line-height: 33px; }

  .mini-cart .cart-design-5 .icon-cart-header i {
    font-size: 27px; }

  .search-area.show-icon-tablet {
    position: relative;
    -ms-flex-order: 3;
    order: 3;
    z-index: 15; }

  .search-area.show-icon-tablet a.search-icon {
    display: inline-block;
    font-size: 19px; }

  .search-area.show-icon-tablet .search-extended {
    display: none;
    position: absolute;
    top: 100%;
    right: -47px;
    min-width: 340px;
    margin-top: 10px;
    border: 5px solid #ccc; }

  .search-area.show-icon-tablet .search-extended::before {
    display: block;
    position: absolute;
    top: -25px;
    right: 45px;
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-bottom-color: #ccc;
    content: ''; }

  .search-area.show-icon-tablet .search-extended.show {
    display: inline-block; }

  .search-area.show-icon-tablet .search-extended .searchform input[type=text] {
    border: 0;
    border-radius: none; }

  .search-area.show-icon-tablet.show-left .search-extended {
    position: absolute;
    right: auto;
    left: -48px; }

  .search-area.show-icon-tablet.show-left .search-extended::before {
    right: auto;
    left: 45px; }

  .top-links-area.show-icon-tablet .top-links-icon {
    display: block; }

  .top-links-area.show-icon-tablet ul.links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 130px;
    margin: 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff !important;
    text-align: right;
    z-index: 99; }

  .top-links-area.show-icon-tablet ul.links li {
    display: block;
    padding: 0 10px;
    border: 0; }

  .top-links-area.show-icon-tablet ul.links li a {
    display: block;
    padding: 0;
    transition: all .2s;
    color: #777;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    white-space: nowrap; }

  .top-links-area.show-icon-tablet ul.links li:hover a {
    background-color: #ccc !important;
    color: #fff !important;
    text-decoration: none; }

  .product-view .more-views-vertical {
    width: 55px; }
    .product-view .more-views-vertical .media-list {
      width: 55px;
      height: 250px; }
  .product-view .porto-custom-block {
    margin-top: 15px;
    float: none; }

  .product_view_extended .product-view .prev-next-products {
    display: none; }
  .product_view_extended .product-view .top-right {
    position: relative; }
  .product_view_extended .product-view .addthis_toolbox {
    margin: 10px 0 5px;
    float: none; }
  .product_view_extended .product-view .product-type-data {
    display: block; }
  .product_view_extended .product-view .product-type-main {
    text-align: left; }

  .container {
    max-width: 100%; }

  .owl-carousel .owl-nav {
    display: none; }

  .col-left .block-main-canvas {
    right: auto;
    left: -260px; }

  .col-right .block-main-canvas {
    right: -260px;
    left: auto; }
    .col-right .block-main-canvas .canvas-icon {
      right: auto;
      left: -40px;
      border-right-width: 0;
      border-left-width: 1px; }

  .block-main-canvas {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 260px;
    padding: 0;
    transition: all .3s;
    background-color: #fff;
    z-index: 101; }

  .product-view .porto-custom-block {
    float: none;
    margin-top: 15px; }

  .sidebar-product .bestseller-product,
  .sidebar-product .custom-block {
    margin-right: 20px;
    margin-left: 20px; } }
@media (max-width: 767px) {
  .sticky-product .sticky-detail {
    width: calc(100% - 220px) !important; }

  .custom-support .content {
    margin-bottom: 20px; }

  .footer_2 .social-icons {
    margin-top: 20px;
    float: left; }

  .footer-list .item {
    float: none !important; }

  .footer-wrapper .footer-middle .working span {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px; }

  #slideshow_slidebar_collection .side-custom-menu {
    display: none; }

  .footer-wrapper .footer-middle .block-bottom .custom-block {
    float: none !important; }

  .parallax-wrapper .parallax_fixed_text .content {
    left: 20px; }

  .banner_text_3 .row .col-md-4.column {
    float: none !important; }

  .banner_content .parallax-content-15 em {
    font-size: 16.26px !important; }

  .banner_content .parallax-content-15 h2 {
    font-size: 40px !important; }

  .banner_content .parallax-content-15 p {
    font-size: 16px !important; }

  .banner-slide-section .content p,
  .banner-slide-section .content a {
    display: none; }

  .slideshow .banner-content-18 .text-content h2 {
    font-size: 55px; }

  .banner-slide-section .owl-dots {
    bottom: 0px; }

  .banner-slide-section .owl-nav i {
    font-size: 20px; }

  .banner-slide-section .owl-nav {
    top: calc(50% - 13.5px); }

  .shop-by-collection.tab-product-collection {
    display: block;
    padding: 15px; }

  .block-by-collection.container .tab-product-collection .category-detail {
    padding-top: 0px; }

  .shop-by-collection.tab-product-collection .category-list {
    padding: 0px 15px;
    border-right: none; }

  .hidden-phone {
    display: none; }

  .visible-phone {
    display: block; }

  .sm-clearer {
    clear: both; }

  .swiper-slide .caption-content {
    padding: 0 10px; }

  /*=============================================
  # Header
  ===============================================*/
  /*=============================================
  # slideshow background
  ===============================================*/
  .slideshow-background .slideshow .content .content-area em {
    margin-bottom: -3px;
    margin-left: 4px;
    font-size: 11px; }

  .slideshow-background .slideshow .content .content-area h2 {
    font-size: 28px; }

  .slideshow-background .slideshow .content .content-area a {
    display: none; }

  .slideshow-background .slideshow .content .content-area p {
    display: none; }

  /*=============================================
  # Main
  ===============================================*/
  /*parallax*/
  .parallax-wrapper .parallax .parallax-slider .item h2 {
    font-size: 40px; }

  .parallax-wrapper .parallax .parallax-slider .item p {
    margin-bottom: 15px;
    font-size: 13px; }

  .parallax-wrapper .parallax .parallax-slider .item a {
    font-size: 13px; }

  /*product tab home*/
  .main-container .tab-product-collection .tab-selector:before {
    background-color: transparent; }

  /*block option container*/
  .main-container .block-option-container .container .block-subscribe .block-inner .input-group .input-box input {
    width: 100%; }

  .main-container .block-option-container .container .block-subscribe {
    margin-bottom: 30px; }

  .main-container .home-banner .right,
  .main-container .home-banner .left {
    padding: 0; }

  /*sidebar*/
  /*collection page*/
  .category-boxed-banner .banner-text h2 {
    font-size: 28px; }

  .category-boxed-banner .banner-text p {
    display: none; }

  .toolbar .filter-bar {
    float: left; }

  .toolbar .sorter_wrap {
    float: left; }

  .toolbar .view-mode span.layout-opt {
    padding: 0; }

  /*product page*/
  .product-view .product-collateral .product-description {
    border: 0; }

  .product-view .product-collateral .tab-content {
    width: 100%; }

  .product-view .product-collateral .tab-content .tab-pane .product-tabs-content-inner {
    padding: 30px 0 20px; }

  .product-view .product-collateral .tab-content .collapse.in {
    display: block; }

  .toolbar .filter-option-group.open {
    top: 80px; }

  .sidebar-product .custom-block .item img {
    max-width: 100%; }

  /* Blog page */
  .blog-wrapper.blog-layout-typ2 .post-wrapper {
    padding-bottom: 30px; }

  .blog-wrapper.blog-layout-typ2 .post-wrapper .postContent .blog-media,
  .blog-wrapper.blog-layout-typ2 .post-wrapper .postContent .blog-content {
    padding-bottom: 10px; }

  .main-container .blogs-items .img-responsive {
    margin-bottom: 15px; }

  /*Order page*/
  .main-container .order-dashboard .billing-address,
  .main-container .order-dashboard .shipping-address {
    width: 100%;
    margin: 0 0 30px; }

  /*about us page*/
  .form-vertical .contact-form {
    padding-bottom: 0; }

  /*=============================================
  # Footer
  ===============================================*/
  .footer-wrapper .footer-top .a-right-sm div:first-child {
    margin: 10px 0; }

  .footer-wrapper .footer-top .footer_top_Subscribe .input-group {
    margin: 10px 0; }

  .footer-wrapper .footer-top .info-footer {
    padding: 30px 20px 0px; }

  .footer-wrapper .custom-footer-content {
    display: block; }

  .footer-wrapper .footer-bottom .social-icons,
  .footer-wrapper .footer-bottom address {
    float: none;
    text-align: center; }

  .footer-bottom {
    text-align: center; }

  .footer-wrapper .footer-bottom a.footer-bottom-logo {
    margin: 0;
    float: none; }

  .footer-wrapper .footer-bottom .social-icons {
    float: none; }

  .footer-wrapper .footer-bottom .custom-block div {
    margin: 20px 0; }

  .footer-wrapper .footer-bottom address {
    float: none;
    text-align: center; }

  .product-tabs.vertical {
    flex-direction: column;
    -ms-flex-direction: column; }

  #wishlistTableList .data-table tr {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 0;
    border: 1px solid #f1f1f1;
    overflow: hidden; }

  #wishlistTableList .data-table tr .last {
    position: absolute;
    top: 0;
    right: -5px;
    min-width: 90px !important;
    border-width: 0; }

  #wishlistTableList .data-table tr .shoppingcart-image {
    width: 30%;
    padding: 0;
    float: left;
    border: 0; }

  #wishlistTableList .data-table tr .shoppingcart-image img {
    width: 100%; }

  #wishlistTableList .data-table tr .shoppingcart-name,
  #wishlistTableList .data-table tr .product-unittax,
  #wishlistTableList .data-table tr .shoppingcart-qty,
  #wishlistTableList .data-table tr .product-options {
    width: 70%;
    padding-top: 10px;
    padding-right: 65px;
    padding-bottom: 10px;
    padding-left: 5px;
    float: right;
    border: 0;
    text-align: left; }

  #wishlistTableList .data-table tr .shoppingcart-name,
  #wishlistTableList .data-table tr .product-unittax,
  #wishlistTableList .data-table tr .shoppingcart-qty {
    padding-top: 6px;
    padding-bottom: 6px; }

  #wishlistTableList .data-table thead {
    display: none; }

  #wishlistTableList .data-table tbody td {
    min-width: 120px; }

  #wishlistTableList .data-table tbody .product-options-bottom {
    text-align: left; }

  #wishlistTableList .data-table .add-to-cart-box {
    -ms-flex-pack: start;
    justify-content: flex-start; }

  .main-section-one .shop-features [class^='col-md-'] {
    margin-bottom: 35px; }

  .product-view .product-tabs.vertical .product-tab-content .tab-content {
    padding-left: 0; }

  .product_view_extended .product-view .shopify-payment-button {
    display: block;
    margin: 20px 0 0; }

  .product-view-fullwidth .product-view .more-views-vertical {
    top: 15px;
    left: 15px; }

  .product-view-fullwidth .product-view .product-options .swatch .header {
    min-width: 55px; }

  .main-container .wishlist-table tr {
    border: solid 1px #f2f2f2; }

  .main-container .wishlist-table td:not(.delete) {
    display: block;
    width: 100% !important;
    padding: 10px 0;
    border: 0 !important; }

  .main-container .wishlist-table .product-code,
  .main-container .wishlist-table .unit-price,
  .main-container .wishlist-table .quantity,
  .main-container .wishlist-table .subtotal,
  .main-container .wishlist-table .addtocart {
    display: none; }

  .main-container .wishlist-table .delete {
    width: 65px !important; }

  .main-container .wishlist-table .product-name {
    width: -webkit-calc(100% - 65px);
    width: calc(100% - 65px); }

  .main-container .wishlist-table .product-name .image,
  .main-container .wishlist-table .product-name .image-comment {
    width: 100%;
    float: none;
    text-align: center; }

  .sidebar-style-1 {
    border: solid 1px #e7e7e7; }

  .sticky-product .sticky-detail {
    width: 70%; }

  .product-layout-list .item-area .product-image-area,
  .product-layout-list .item-area .details-area {
    width: 100%; }

  .header-container .search-area .search-extended {
    right: -85px;
    width: 350px;
    min-width: 350px; }
    .header-container .search-area .search-extended::before {
      right: 80px; } }
@media (max-width: 640px) {
  .main-container .blog_article .item.blog_post_type_1 .post-content {
    padding: 30px; }

  .blog_article.block_article_new .item .post-content {
    top: 0;
    left: 0;
    margin: 0;
    padding: 30px;
    float: left; }

  .blog_article.block_article_new .item .post-image {
    float: none;
    margin: 0; }

  .home_banner_9 .home-banner .col-md-4 {
    border: 0; }

  .slideshow-section .slideshow .content .content-area h2 {
    font-size: 16px !important; }

  .slideshow-full-screen .slideshow .container .content-area p span {
    font-size: 12px !important; }

  .slideshow-full-screen .slideshow .container .content-area p span b.text-large {
    padding: 0 3px !important;
    font-size: 17px !important; }

  .header-container .top-links-icon {
    display: inline-block; }

  /*=============================================
  # slideshow
  ===============================================*/
  .slideshow-section .slideshow .content1 .content-area img {
    width: 15px !important; }

  .slideshow-section .slideshow .content1 .content-area em {
    font-size: 14px !important;
    margin: 0 3px !important; }

  .slideshow-section .slideshow .content1 .content-area h2 {
    font-size: 38px !important;
    margin: 1px 0 5px !important; }

  .slideshow-section .slideshow .content1 .content-area p {
    font-size: 14px !important; }

  .slideshow-section .slideshow .content2 .content-area em {
    font-size: 14px !important;
    margin-left: 3px !important; }

  .slideshow-section .slideshow .content2 .content-area h2 {
    font-size: 39px !important;
    margin: 0 0 5px !important; }

  .slideshow-section .slideshow .content2 .content-area p {
    font-size: 8px !important;
    margin-left: 4px !important;
    margin-bottom: 15px !important; }

  .slideshow-section .slideshow .content2 .content-area a {
    font-size: 8px !important;
    width: 80px !important;
    height: 25px !important;
    line-height: 25px !important; }

  .slideshow-section .slideshow .content3 .content-area em {
    font-size: 14px !important; }

  .slideshow-section .slideshow .content3 .content-area h2 {
    font-size: 38px !important;
    margin-bottom: 8px !important; }

  .slideshow-section .slideshow .content3 .content-area .button a {
    font-size: 8px !important;
    width: 80px !important;
    height: 25px !important;
    line-height: 25px !important; }

  .slideshow-section .slideshow .owl-nav {
    display: none; }

  /*=============================================
  # End slideshow
  ===============================================*/
  .sticky-product .spr-badge-caption {
    display: none; }

  /*  */
  .main-container .top-container .category-banner .full-width-image-banner .content h2 {
    margin: 0;
    font-size: 30px;
    line-height: 1.1; }

  .main-container .top-container .category-banner .full-width-image-banner .content p {
    display: none; }

  /*Collection Page*/
  .category-boxed-banner.style1 .banner-text h2,
  .category-boxed-banner.style2 .banner-text h2 {
    font-size: 15px; }

  .category-boxed-banner.style1 .banner-text h2 b,
  .category-boxed-banner.style2 .banner-text h2 b {
    font-size: 24px; }

  .category-boxed-banner.style1 .banner-text h3,
  .category-boxed-banner.style2 .banner-text h3 {
    margin-bottom: 20px;
    font-size: 30px; }

  /*footer*/
  .footer-wrapper .footer-bottom address {
    display: none; }

  .footer-wrapper .footer-bottom address {
    display: block; } }
@media (min-width: 768px) {
  .main-search-container {
    min-height: 250px; }

  .history-row [class*='col-'] {
    padding-top: 6rem;
    padding-bottom: 6rem; }

  .product-view .product-tabs.vertical > ul {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .product-view .product-tabs.vertical > ul li {
    border-right: 0; }

  .product_view_extended .product-view .product-img-box .product-img-list .active + .active .item {
    position: relative; }

  .product_view_extended .product-view .product-img-box .product-img-list .active + .active .item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
    content: '';
    z-index: 1; }

  .product_view_extended .product-view .product-img-box .product-img-list .active + .active + .active .item::before {
    display: none; }

  .template-index .header-container.container {
    width: auto !important;
    padding-right: 30px;
    padding-left: 30px; }

  .template-index .header-container.container .header-right-area {
    right: 0 !important; }

  .footer-wrapper .footer-middle ul.footer-list .item {
    width: 50%; }

  .vertical .tab-content {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: calc(80% - 30px);
    margin-left: 30px; }

  .login-popup .col-md-6:first-child {
    border-right: 1px solid #f5f6f6; } }
@media (min-width: 768px) and (max-width: 991px) {
  .img-content-right {
    margin-left: 40%; }

  #wishlistModal .modal-dialog,
  #compareBox .modal-dialog {
    width: auto; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; }

  .header-container .header {
    padding-top: 30px;
    padding-bottom: 30px; }

  .search-area {
    margin-left: auto;
    margin-right: auto; }

  .block-by-collection.container .tab-product-collection .category-detail {
    padding-left: 100px; }

  .counters-section .col-md-4 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .team-section {
    padding-top: 6rem;
    padding-bottom: 6rem; }

  .history-section {
    padding-top: 4rem;
    padding-bottom: 7.5rem; }
    .history-section .tab-content img {
      margin-bottom: 0; }
    .history-section .tab-content h3 {
      font-size: 3rem; }
    .history-section .tab-content .col-sm-8 {
      padding-right: 45px; }
    .history-section .tab-content .col-sm-4 + .col-sm-8 {
      padding-right: 15px;
      padding-left: 45px; }

  .history-content {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }

  .info-box:first-child {
    margin-top: 0; }

  .nav.nav-history {
    -ms-flex-direction: column;
    flex-direction: column; }
    .nav.nav-history .nav-item {
      display: block;
      margin-right: 0; }
    .nav.nav-history .nav-link {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .nav.nav-history .nav-link::before {
        margin-right: 2rem; }

  .history-row {
    margin-top: 3rem; }
    .history-row .history-row-bg {
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .history-row [class*='col-'] {
      padding-left: 3rem; }

  #wishlistModal .modal-lg, #compareBox .modal-lg {
    width: 900px; }

  .sticky-header .mini-cart .cart-design-1 .icon-cart-header {
    padding: 0; }
    .sticky-header .mini-cart .cart-design-1 .icon-cart-header i {
      line-height: 32px; }

  .footer-bottom address {
    margin: 0 0 0 auto; }

  .a-right-sm {
    text-align: right; }

  .padding-left-lg {
    padding-left: 3.5rem; }

  .sidebar-style-1 {
    border: solid 1px #e7e7e7; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .top-navigation.side-menu > li > a {
    padding: 10px 5px !important;
    font-size: 13px !important; }

  .main-navigation .top-navigation.side-menu > li .menu-wrap-sub {
    width: 698px; }

  .top-navigation.side-menu .menu-items {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .top-navigation.side-menu .ulmenu-block-right {
    display: none; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .filter-box {
    padding: 20px 30px 0; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; }

  .col-xl-2-4 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-xl-9-6 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }

  .history-content {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem; }

  .history-row [class*='col-'] {
    padding-left: 4.5rem; }

  .product-view-sticky-left-right .product-view .product-name h1 a {
    font-size: 32px; }

  .product-view-sticky-left-right .product-view .prev-next-products {
    top: 3px; } }
@media (min-width: 1280px) {
  .container {
    max-width: 1200px; } }
