<div class="align-left">
  <div class="box-content">
    <form class="woocommerce-cart-form">
      <table
        class="shop_table responsive cart cart-table woocommerce-cart-form__contents"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th class="product-thumbnail">&nbsp;</th>
            <th class="product-name">
              <span>Product</span>
            </th>
            <th class="product-price">
              <span>Price</span>
            </th>
            <th class="product-quantity">
              <span>Quantity</span>
            </th>
            <th class="product-subtotal text-center text-md-right">
              <span>Subtotal</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="cart_item" *ngFor="let item of cart_items; let i = index">
            <td class="product-thumbnail">
              <div class="position-relative">
                <a [routerLink]="['/product_detail/' + item.product.id]">
                  <app-image-card
                    [image]="item.product.product_images[0].image"
                  >
                  </app-image-card>
                </a>
                <a
                  (click)="removeItemFromCart(item.id)"
                  class="remove remove-product position-absolute"
                  aria-label="Remove this item"
                  style="cursor: pointer;"
                ></a>
              </div>
            </td>
            <td class="product-name">
              <a [routerLink]="['/product_detail/' + item.product.id]">{{
                item.product.name
              }}</a>
            </td>
            <td class="product-price">
              <span class="woocommerce-Price-amount amount"
                ><bdi
                  ><span class="woocommerce-Price-currencySymbol">$</span
                  >{{ item.product.price.toFixed(2) }}</bdi
                ></span
              >
            </td>
            <td class="product-quantity">
              <div class="quantity buttons_added">
                <button type="button" value="-" class="minus">-</button>
                <input
                  type="number"
                  id="quantity_6306a08994e60"
                  class="input-text qty text"
                  step="1"
                  min="0"
                  max=""
                  name="cart[b2656853f587a8c30dc5ce8053a3c04d][qty]"
                  value="1"
                  title="Qty"
                  size="4"
                  placeholder=""
                  inputmode="numeric"
                />
                <button type="button" value="+" class="plus">+</button>
              </div>
            </td>
            <td
              class="product-subtotal text-center text-md-right"
              data-title="Subtotal"
            >
              <span class="woocommerce-Price-amount amount"
                ><bdi
                  ><span class="woocommerce-Price-currencySymbol">$</span
                  >{{
                    calculateSubTotal(item.quantity, item.product.price)
                  }}</bdi
                ></span
              >
            </td>
          </tr>
          <tr>
            <td colspan="6" class="actions px-md-2">
              <app-actions></app-actions>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="cart-actions"></div>
      <div class="clear"></div>
    </form>
  </div>
</div>
